@media (max-width: 700px) {
  .main-nav {
    display: none;
  }
}

ul {
  list-style-type:none;
  margin: 0;
}



html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight:300;
  margin:0;
}

header {
  min-height: 66px;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 5;
}

h1,h2,h3 {
  font-weight: 300;
}


a {
  text-decoration: none;
  color: #636363
}

.header-logo {
  float: left;
  padding-top: 21px;
  padding-left: 30px;
}

a.active {
  color: red;
  font-weight: 400;
}

.menu-input {
  display: none;
}
.collapsed-menu {
  display: none;
  float: right;
  margin-right: 21px;
  font-size: 35px;
  margin-top: 14px;
}




/*---------------------------------------- Top Menu ----------------------------------------*/
@media (min-width: 701px) {


  header {
    line-height:61px;
    opacity: 0.985;
    box-shadow: 0px 2px 4px 0px #dcdcdc;
    z-index: 10;
    font-weight: 400;

  }


  .main-nav {
    float: right;
  }

  /*.solution-nav, .ei-cloud-ul, .ei-middleware-ul, .ii-nav {*/
  .menu-table {
    /*width: 0;*/
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    background-color: white;

    position: fixed;
    right: 0;
    left: 0;

    /*display: flex;*/
    float: left;
    padding-left: 0;
    box-shadow: 0px 2px 4px 0px #dcdcdc;

    transition: max-height 1s, opacity 0.5s;
  }

  .menu-table li {
    /*flex: 1;*/
    display: inline-block;
    width: 33.333%;
    float: left;
  }

  .menu-table li > a {

    /*padding: 2vw;*/
    /*font-size: 55px;*/

    height: 12vw;
    line-height: 12vw;

    font-size: 3vw;
    cursor: pointer;
    /*width: 100%;*/
    display: block;
    text-align: center;
  }

  /**/
  .ii-nav:hover,
  .solution-nav:hover,
  .solution-nav-link:hover > .solution-nav,
  .ii-nav-link:hover > .ii-nav,
  .ei-cloud-li:hover > .ei-cloud-ul,
  .ei-middleware-li:hover > .ei-middleware-ul {

    overflow: visible;
    /*width: 100%;*/
    max-height: 1000px;
    opacity: 1;

    transition: max-height 2s, opacity 0.5s;

  }

  .menu-table li > a.comigo-whataspp-app {
    /*padding: 2vw 25px;*/
    /*font-size: 3.25vw ;*/
    line-height: 4vw;
  }

  .menu-table li span.comigo-whataspp-app-span {
    width: 80%;
    display: inline-block;
    margin: auto;
    padding-top: 2vw;
  }

  .ei-middleware-li:hover > .ei-middleware-ul > li,
  .ei-cloud-li:hover > .ei-cloud-ul > li {
    width: 50%;
  }

  .ei-cloud-li:hover > .ei-cloud-ul > li > a:hover,
  .solution-nav-link:hover > .solution-nav > li > a:hover,
  .ei-middleware-li:hover > .ei-middleware-ul > li > a:hover,
  .ii-nav-link:hover > .ii-nav > li > a:hover {
    background: #ff5f5f;
    transition: 0.5s;
  }

  .ei-cloud-li:hover > .ei-cloud-ul > li > a:hover,
  .solution-nav-link > .solution-nav > li > a:hover,
  .ei-middleware-li:hover > .ei-middleware-ul > li > a:hover,
  .ii-nav-link:hover > .ii-nav > li > a:hover {
    color: white;
    transition: 0.5s;
  }


  .main-nav a:focus,
  .main-nav a:hover,
  .top-footer a:hover {
    color: red;
    outline: 0;
  }

  .nav-ul {
    display: flex;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 0;
    padding:0;
  }

  .nav-ul > li {
    padding: 0px 1vw;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 0;

  }

  .main-nav a {
    color: rgb(61, 61, 61);
  }



  .smaller-nav-text {
    font-size: 48px;
  }

}

/* END OF DESKTOP */

@media (max-width: 700px) {

  .icon-menu {
    display: block;
  }

  header {
    font-size: 22px;
  }

  .main-nav {
    padding-top: 61px;
  }

  .main-nav li {
    margin:10px;
  }

  .main-nav a:hover {
    color:red
  }

  .collapsed-menu:hover {
    color: red;
    cursor: pointer;
  }

  .main-nav {
    background: white;
    line-height: inherit;
  }

  .nav-ul {
    padding: 20px 0px 20px 20px;
  }



  .menu-input:checked ~ nav {
    display: block;
  }


  .menu-input:checked ~ .cross{
    display: block ;
  }

  .menu-input:checked ~ .icon-menu{
    display: none ;
  }

  .menu-table  li::before {
    content: '-';
  }

  header > .cross {
    display: none;
  }



}

/*------------------------------------ FIRST SECTION --------------------------------------------*/

.first-section {
  background-image: url("../assets/other/home-featured-bg.png");
  height:42.5vw;
  background-size: cover;                      /* <------ */
  padding-top: 66px;
}

.first-section-wrapper {
  background-image: url("../assets/other/home-brain-image-new-1920x816.png");
  height:100%;
  background-size: cover;                      /* <------ */
}

.header-wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 10vw;
}

.section-header {
  color: white;
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 25px;
}


/*------------------------------------ WHY COMING --------------------------------------------*/



.second-section-header {
  font-size: 4vw;
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;
}

.second-section {
}

.second-wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 5% 0;
}

.second-wrapper p{
  font-size: 1.5vw;
  /*font-size: 22px;*/
  color: #8e8e8e;
  font-weight: 100;
}

/*---------------------------------------- Buttons ----------------------------------------*/

.btn {
  display: inline-block;
  letter-spacing: 3px;
  padding: 1em 2em;
  border-radius: 1.7em;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 0 rgba(0,0,0,.15);
  cursor: pointer;
  font-size: 1vw;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 32px rgba(0,0,0,.15);
}

.rd-btn {
   background-color: #f14848;
   border: 1px solid #f14848;
   color: #fff;
 }

.white-btn {
  background-color: white;
  border: 1px solid white;
  color: rgb(241, 72, 72);
}

/*---------------------------------------- Third section ----------------------------------------*/

.service-section {
  height: 41vw;
  overflow: hidden;
  /*background-color: lightgray;*/
  padding:20px;
  position: relative;
  background-color: black;
}

.second-section-header-wrapper {
  width: 15%;
  margin: 20px 5vw 0 12vw;
  display: inline-block;
  vertical-align: top;
}

.second-section-header-wrapper h2 {
  font-size:  2.8vw;
  color: white;
  line-height: 3vw;
}

.second-section-header-wrapper p {
  font-size: 1.6vw;
  color: gray;
}

.service-section-ul-wrapper {
  display: inline-block;
  margin-top: 40px;
}


.service-section-ul figcaption {
  font-size: 1.4vw;
  width: 60%;
  text-align: center;
  margin: auto auto 40px;
}


.service-section-ul > li > h2 {
  z-index: 3;
  cursor: pointer;
  position: relative;
  font-size: 1.8vw;
  color: gray
}

.service-section-ul > li > h2:hover {
  color: white
}

.service-section-ul figure {
  position: absolute;
  right: 0;
  color: #afafaf;
  z-index: 4;
  top: 10%;
  text-align: center;
  left: 50%;
  visibility: hidden;
  transition: opacity 1s ease-in-out;
}


.service-section video {
  opacity: 0.25;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;

  visibility: hidden;

  transition: opacity 1s ease-in-out;

}

figure.service-section-figure-default,
.service-section-ul li:hover > figure {
  visibility: visible;
  opacity: 1;

}
.service-section-ul li:hover > video {
  visibility: visible;
  opacity: 0.25;

}

.service-section-ul li:hover ~ li > figure ,
.service-section-ul li:hover ~ li > video {
  visibility: hidden;
  opacity: 0;

}

video.last-video {
  visibility: visible;
  opacity: 0.25;

}

.service-section-ul figure img {
  height: 25vw;
}

img.img-width {
  width: 30vw;
  height: 14vw !important;
}


/*---------------------------------------- 2 BOX SECTION ----------------------------------------*/

.forth-section {
  display: flex;
  height: 45vw;
}

.left-box {
  position: relative;
  width: 50%;
  padding: 3vw;
  float:left;
  background-image: url('../assets/other/home-tv-service-bg1.png');
}

.left-box-wrapper {
  width: 43%;
  margin: 2vw auto auto;
}

.brain-img {
  width:100%;
  height: 15vw;
}

.left-box-header {
  color: white;
  font-size: 3vw;
  margin: 0;
  font-weight: 200;
}

.left-box-p {
  color: white;
  font-size: 2vw;
  margin:0;
}

.right-box {
  position: relative;
  width: 50%;
  padding: 3vw;
  float: right;
  background-image: url('../assets/other/home-tv-service-bg2.png');
}

.right-box-wrapper {  }

.right-box-img {
  height: 23vw;
}

.right-box-header {
  font-size: 3vw;
  margin:0;
  font-weight: 200;
  width: 80%;
}

.right-box-p {
  font-size: 2vw;
  margin:0;
}

.box-btn {
  position: absolute;
  bottom: 2vw;
}

/*---------------------------------------- YOUR CONTENT + TV IMAGE ----------------------------------------*/

.content-section {
  padding: 30px;
  position: relative;
  height: 49vw;
  overflow: hidden;
}

.content-section-img {
  display: inline;
  position: absolute;
  right: -103px;
  height: 45vw;
}

.content-section-wrapper {
  padding: 3vw;
  margin-left: 3.5vw;
  display: inline-block;
}

.content-section-header {
  font-size: 3vw;
  width:20%;
}

.content-section-p {
  font-size: 1.5vw;
  width: 30%;
  color: #b2b2b2;
}



/* ---------------------------------------- LEARN MORE ABOUT COMING ----------------------------------------*/

.learn-more-section {
  display: flex;
  height: 655px;
  overflow: hidden;
}

.learn-more-section-h3 {
  font-size: 75px;
  width: 63%;
  padding: 0 0 0 44px;
  margin-top: 141px;
  margin-bottom: 19px;
}

.learn-more-wrapper {
  display: flex;
  background-color: #f7f7f7;

}

.learn-more-section-wrapper-second {
  display: flex;
  background: #eeeeee;
}

.sched-demo-h {
  font-size: 74px;
  margin: 0;
  width: 70%;
  font-weight: 300;
  margin-top: 10px;
  letter-spacing: 2px;
}

.learn-more-right {
  background: #f1f1f1;
  padding:35px;
  padding-right: 0;
  padding-top: 0;
}

.learn-more-right:hover {
  box-shadow: inset 0px 0px 9px 7px #cecece;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.learn-more-left {
}

.social-ul-wrapper {

}

.learn-more-section-social {
  width: 320px;
  margin-right: 40px;
}

.learn-more-section-social,
.learn-more-section-social li{
  display: inline-block;
}

.learn-more-section-social > li > a {
  margin: 15px 16px;
  display: inline-block;
}

.learn-more-section-social {
  margin-bottom: 15px;
  padding-top: 22px;

}

.box-text {
  color: white;
  /* padding: 17px; */
  font-size: 23px;
  /* margin-top: 238px; */
  margin: 19px;
  position: absolute;
  bottom: 0;

  text-align: left;
  width: 71%;
}

.learn-more-section-red-box {
  width: 348px;
  height:348px;
  background: #f14848;
  position: relative;
  text-align: center;
}

.learn-more-section-red-box:hover {
  cursor: pointer;
}

.arrow-sign-wrapper {
  text-align: center;
  margin: 27% auto auto;
  border: 3px solid white;
  display: inline-block;
  border-radius: 50%;
  padding:50px;

}

.arrow-img {
  width: 30px;
  height: 30px;
}


/* ---------------------------------------- fa icons ---------------------------------------- */

.fa-big {
  padding: 22px;
  font-size: 61px !important;
  width: 105px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 12px 2px #b9b9b9;
}

.fa-btn {
  background: #f14848;
  color: white;
  transition: all 150ms linear;

}

/* ---------------------------------------- Footer ---------------------------------------- */

.top-footer {
  background-color: #1e2024;
  padding:50px;
}

.top-footer img {
  float: right;
}

.footer-nav {
  margin: 0;
  display: flex;
}

.horizontal-ul {
  margin: 0;
}
.horizontal-ul,.horizontal-ul li{
  display: inline;
}
.bottom-footer {
  color: #636363;
  background-color: #151515;
}
@media (min-width: 701px) {

.bottom-footer p,.bottom-footer address {
  display: inline;
}

.bottom-footer ul {
  float: right;
}

.bottom-footer a {
  color: #636363;
  margin-left: 30px;
}

.bottom-footer a:hover {
  color: #fff;
  border-color: #fff;
}

.bottom-footer {
  background-color: #151515;
  color: #636363;
  padding: 0 200px;
  line-height: 66px;
  height: 66px;
  font-size: 18px;
}

.bottom-footer p {
  margin-right: 30px
}

.bottom-footer address {
  margin-left: 30px;
}

}

.fa-btn-footer {
  font-size: 22px !important;
  /*border: 1px solid #3c3c3c;*/
  border-radius: 50%;
  /*padding: 10px;*/
}

.footer-nav > li {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 80px;
}

.footer-nav > li > ul > li {
  margin-bottom: 20px;
}

.main-button-nav:hover {
  color: white !important;
}

.main-button-nav {
  color: #fff;
}


@media (max-width: 700px) {
  .bottom-footer {
    font-size: 25px;
    padding:30px;
  }
  .bottom-footer p {
    margin-top: 0;
  }

  .footer-nav {
    display: block;
    padding:10px;
  }

  .footer-nav a:hover {
    color:red
  }

  .top-footer {
    padding: 50px 0px;
  }

  .footer-nav li a {
    font-size: 27px;
  }

  .social-footer-ul {

  }

  .social-footer-ul li {
    padding:15px;
  }

  .top-footer img {
    float: none;
    display: block;
    margin: 20px auto;
  }
}

/* ---------------------------------------- BLOG ---------------------------------------- */

.blog {
  background-color: black;
}

.blog li {
  background-size: 300% 100%;
  position: relative;
}

.blog .main-blog-link:hover {
  opacity: 1;
}

.blog .main-blog-link {
  width:100%;
  height:100%;
  display: inline-block;
  opacity: 0.2;
  transition: opacity 0.5s;
}

.blog {
}

.blog-first {
  background-color: #f14848;
  position: relative;
}

.blog-first-wrapper {
  padding:20px;
  position: absolute;
  bottom: 0;
}

.blog-first h2 {
  font-size: 4vw;
  color: white;
  margin-bottom:0;
  margin-top: 269px;
  font-weight: 100;
}

.blog-first p{
  font-size: 1.5vw;
  color:white
}

.blog-ul {
  height:36.1111111833vw;
  padding: 0;
  margin: 0;
  width: 100%;
}

.blog-ul li {
  height: 100%;
  display: inline-block;
  width:16.666666666667%;
  overflow: hidden;
  float: left
}

.blog-ul img {
  height:530px;
}

li.blog-first {
  opacity: 1;
}

.blog-second a {
  background: url("../assets/blog/ibc_post_EI-750x508.png") no-repeat center;
  background-position-y: 0px;
}

.blog-third a {
  background: url("../assets/blog/IMG_9294-750x563.jpeg") no-repeat center;
}

.blog-forth a {
  background: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg") no-repeat center ;
}

.blog-five a {
  background: url("../assets/blog/post_tv_connect-750x508.jpeg") no-repeat center;
}

.blog-six a {
  background: url("../assets/blog/post_quality-750x508.jpeg") no-repeat center;
}

.blog-ul a {
  background-position: top;
  background-size: cover;

}

.blog-li div {

}

.li-box-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 1 !important;
  pointer-events: none;
}

.li-box-wrapper p {
  font-size: 1.5vw;
  color:white;
  background: linear-gradient(transparent, black);
  padding: 21px;
  margin: 0;
}

.read-more {
  width: 100%;
  height: 0;
  background-color: #f14848;
  text-align: center;
  color: white;
  font-size: 20px;
  transition: height 0.5s;
}

li:hover .read-more {
  height: 120px;
}

.read-more span {
  margin-top: 40px;
  display: inline-block;
}

/* --------------------------------------------------------------------------------  */





