@media (max-width: 700px) {
  .main-nav {
    display: none;
  }
}

html {
  /*box-sizing: border-box;*/
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight:300;
  margin:0;
  overflow-x: hidden;
}

h1,h2,h3 {
  font-weight: 300;
}

header {
  height: 66px;
  line-height:61px;
  position: fixed;
  background: white;
  width: 100%;
  opacity: 0.985;
  box-shadow: 0px 2px 4px 0px #dcdcdc;
  z-index: 2;
  font-weight: 400;

}

ul {
  list-style-type:none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #636363
}

/*---------------------------------------- Top Menu ----------------------------------------*/
.main-nav {
  float: right;
}

/*.solution-nav, .ei-cloud-ul, .ei-middleware-ul, .ii-nav {*/
.menu-table {
  width: 0;
  overflow: hidden;

  max-height: 0;
  opacity: 0;

  background-color: white;
  position: absolute;
  display: flex;
  float: left;
  left: 0;
  padding-left: 0;
  box-shadow: 0px 2px 4px 0px #dcdcdc;

  /*transition: opacity 2s;*/

}

.ii-nav:hover,
.solution-nav:hover,
.solution-nav-link:hover > .solution-nav,
.ii-nav-link:hover > .ii-nav,
.ei-cloud-li:hover > .ei-cloud-ul,
.ei-middleware-li:hover > .ei-middleware-ul
{

  overflow: visible;
  width: 100%;
  max-height: 2500px;
  opacity: 1;

  transition: max-height 2s, opacity 0.5s;

}

.solution-nav:hover,
.ii-nav-link:hover > .ii-nav,
.solution-nav-link:hover > .solution-nav {
  padding-top: 23px;
}

.ei-cloud-li:hover > .ei-cloud-ul,
.ei-middleware-li:hover > .ei-middleware-ul
{
  /*margin-top: 70px;*/
}

.solution-nav:hover > li > a,
.solution-nav-link:hover > .solution-nav > li > a,
.ei-cloud-li:hover > .ei-cloud-ul > li > a,
.ei-middleware-li:hover > .ei-middleware-ul > li > a,
.ii-nav-link:hover > .ii-nav > li > a
{
  padding-bottom: 75px;
  padding-top: 75px;
  font-size: 55px;
  cursor: pointer;
  /*width: 100%;*/
  display: block;
  text-align: center;
}

a.comigo-whataspp-app {
  padding: 45px 25px !important;
}
.solution-nav:hover > li,
.ii-nav-link:hover > .ii-nav > li,
.solution-nav-link:hover > .solution-nav > li {
  flex: 1;
}

.ei-middleware-li:hover > .ei-middleware-ul > li,
.ei-cloud-li:hover > .ei-cloud-ul > li
{
  width: 50%;
}

.solution-nav-link:hover > .solution-nav > li > a,
.ii-nav-link:hover > .ii-nav > li > a
{
  text-align: center;

}

.ei-cloud-li:hover > .ei-cloud-ul > li > a:hover,
.solution-nav-link:hover > .solution-nav > li > a:hover,
.ei-middleware-li:hover > .ei-middleware-ul > li > a:hover,
.ii-nav-link:hover > .ii-nav > li > a:hover
{
  background: #ff5f5f;
  transition: 0.5s;
}

.ei-cloud-li:hover > .ei-cloud-ul > li > a:hover,
.solution-nav-link > .solution-nav > li > a:hover,
.ei-middleware-li:hover > .ei-middleware-ul > li > a:hover,
.ii-nav-link:hover > .ii-nav > li > a:hover
{
  color: white;
  transition: 0.5s;
}

.header-logo {
  float: left;
  padding-top:18px;
  padding-left: 30px;
}

a.active {
  color:red ;
  font-weight: 400;
}

.main-nav a:focus,
.main-nav a:hover,
.top-footer a:hover{
  color: red;
  outline: 0;
}

.nav-ul {
  display: flex;
  float: right;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom:0;
}

.nav-ul > li {
  padding:0px 15px;
  font-size: 18px;
  font-weight:200;
  margin-bottom:0;

}

.main-nav a {
  color: rgb(61, 61, 61);
}

.main-button-nav:hover {
  color: white !important;
}

.main-button-nav {
  color: #fff;
}

/*------------------------------------ FIRST SECTION --------------------------------------------*/

.first-section {
  background-image: url("../assets/other/home-featured-bg.png");
  height:700px;
  background-size: cover;                      /* <------ */
  padding-top: 30px;
}

.first-section-wrapper {
  background-image: url("../assets/other/home-brain-image-new-1920x816.png");
  height:100%;
  background-size: cover;                      /* <------ */
}

.header-wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 162px;
}

/*------------------------------------ WHY COMING --------------------------------------------*/

.smaller-nav-text {
  font-size: 48px;
}

.section-header {
  color: white;
  font-size: 85px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 1px;
}

.second-section-header {
  font-size: 70px;
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;

}

.second-section {
  margin-bottom: 54px;
}

.second-wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.second-wrapper p{
  font-size: 25px;
  color: #8e8e8e;
  font-weight: 100;
}

/*---------------------------------------- Buttons ----------------------------------------*/

.btn {
  display: inline-block;
  letter-spacing: 3px;
  padding: 1em 2em;
  border-radius: 1.7em;
  margin: 2em auto;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 0 rgba(0,0,0,.15);
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 32px rgba(0,0,0,.15);
}

.rd-btn {
   background-color: #f14848;
   border: 1px solid #f14848;
   color: #fff;
 }

.white-btn {
  background-color: white;
  border: 1px solid white;
  color: rgb(241, 72, 72);
}

/*---------------------------------------- 2 BOX SECTION ----------------------------------------*/

.third-section {
  height: 672px;
  overflow: hidden;
  background-color: lightgray;
}

.left-box {
  width: 44.5%;
  padding: 46px;
  float:left;
  background-image: url('../assets/other/home-tv-service-bg1.png');
}

.left-box-wrapper {
  width: 43%;
  margin: auto;
  margin-top: 80px;
}

.brain-img {
  width:100%;
}

.left-box-header {
  color: white;
  font-size: 50px;
  margin: 0;
  font-weight: 200;
}

.left-box-p {
  color: white;
  font-size: 20px;
  margin:0;
}

.right-box {
  width: 45%;
  padding: 42px;
  float: right;
  background-image: url('../assets/other/home-tv-service-bg2.png');
}

.right-box-wrapper {
}

.right-box-img {
}

.right-box-header {
  font-size: 40px;
  margin:0;
  font-weight: 200;
}

.right-box-p {
  font-size: 20px;
  margin:0;

}

/*---------------------------------------- YOUR CONTENT + TV IMAGE ----------------------------------------*/

.content-section {
  padding:30px;
  display: flex;
}

.content-section-img {
  margin-left: 255px;
}

.content-section-wrapper {
  width: 88%;
  padding:50px;
  margin-left: 87px;
}

.content-section-header {
  font-size: 50px;
  width:20%;
}

.content-section-p {
  font-size: 20px;
}

/* ---------------------------------------- LEARN MORE ABOUT COMING ----------------------------------------*/

.forth-section {
  display: flex;
}

.learn-more-section {
  display: flex;
  height: 655px;
  overflow: hidden;
}

.learn-more-section-h3 {
  font-size: 75px;
  width: 60%;
  padding: 0 0 0 44px;
  margin-top: 141px;
  margin-bottom: 19px;
}

.learn-more-section-red-box {
  width: 348px;
  height:348px;
  background: #f14848;
}

.learn-more-section-red-box:hover {
  cursor: pointer;
}

.learn-more-wrapper {
  display: flex;
  background-color: #f7f7f7;

}

.learn-more-section-wrapper-second {
  display: flex;
  background: #eeeeee;
}

.sched-demo-h {
  font-size: 74px;
  margin: 0;
  width: 70%;
  font-weight: 300;
  margin-top: 10px;
  letter-spacing: 2px;
}

.learn-more-right {
  background: #f1f1f1;
  padding:35px;
  padding-right: 0;
  padding-top: 0;
}

.learn-more-right:hover {
  box-shadow: inset 0px 0px 9px 7px #cecece;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.learn-more-left {
}

.social-ul-wrapper {

}

.learn-more-section-social {
  width: 280px;
  margin-right: 40px;
}

.learn-more-section-social,
.learn-more-section-social li{
  display: inline;
}

.learn-more-section-social {
  margin-bottom: 15px;
  padding-top: 22px;

}

.box-text {
  color: white;
  padding: 17px;
  font-size: 23px;
  /*margin-top: 238px;*/
}

.arrow-down {
  border: 3px solid white;
  color: white;
  font-weight: 100;
  margin-left: 28%;
  margin-top: 19%;
  padding: 37px;
}

.arrow-sign-wrapper {
  text-align: center;
  margin-top: 91px;
}

/* ---------------------------------------- fa icons ---------------------------------------- */


.fa-big {
  padding: 22px;
  font-size: 61px !important;
  width: 66px;
  text-align: center;
  text-decoration: none;
  margin: 15px 12px;
  border-radius: 50%;

}

.fa-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 12px 2px #b9b9b9;
}

.fa-btn {
  background: #f14848;
  color: white;
  transition: all 150ms linear;

}

/* ---------------------------------------- Footer ---------------------------------------- */

.top-footer {
  background-color: #1e2024;
  padding:50px;
}

.top-footer img {
  float: right;
}

.footer-nav {
  margin: 0;
  display: flex;
}

.horizontal-ul {
  margin: 0;
}
.horizontal-ul,.horizontal-ul li{
  display: inline;
}

.bottom-footer p,.bottom-footer address {
  display: inline;
}

.bottom-footer ul {
  float: right;
}

.bottom-footer a {
  color: #636363;
  margin-left: 30px;
}

.bottom-footer a:hover {
  color: #fff;
  border-color: #fff;
}

.bottom-footer {
  background-color: #151515;
  color: #636363;
  padding: 25px 200px;
  height: 22px;
  font-size: 18px;
}

.bottom-footer p {
  margin-right: 30px
}

.bottom-footer address {
  margin-left: 30px;
}

.fa-btn-footer {
  font-size: 22px !important;
  /*border: 1px solid #3c3c3c;*/
  border-radius: 50%;
  /*padding: 10px;*/
}

.footer-nav > li {
  float: left;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 80px;
}

.footer-nav > li > ul > li {
  margin-bottom: 20px;
}

/* ---------------------------------------- BLOG ---------------------------------------- */

.blog {
  background-color: black;

}

.blog li {
  background-size: 300% 100%;
  position: relative;
}

.blog .main-blog-link:hover {
  opacity: 1;
}

.blog .main-blog-link {
  width:100%;
  height:100%;
  display: inline-block;
  opacity: 0.2;
  transition: opacity 0.5s;
}

.blog {
}

.blog-first {
  background-color: #f14848;
}

.blog-first-wrapper {
  padding:20px;
}

.blog-first h2 {
  font-size: 60px;
  color: white;
  margin-bottom:0;
  margin-top: 269px;
  font-weight: 100;
}

.blog-first p{
  font-size: 25px;
  color:white
}

.blog-ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.blog-ul li {
  display: inline-block;
  height:36.1111111833vw;
  width:16.666666666667%;
  overflow: hidden;
  float: left
}

.blog-ul img {
  height:530px;
}

li.blog-first {
  opacity: 1;
}

.blog-second a {
  background: url("../assets/blog/ibc_post_EI-750x508.png") no-repeat center;
  background-position-y: 0px;
}

.blog-third a {
  background: url("../assets/blog/IMG_9294-750x563.jpeg") no-repeat center;
}

.blog-forth a {
  background: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg") no-repeat center;
}

.blog-five a {
  background: url("../assets/blog/post_tv_connect-750x508.jpeg") no-repeat center;
}

.blog-six a {
  background: url("../assets/blog/post_quality-750x508.jpeg") no-repeat center;
}

.blog-ul a {
  background-position: top;
}

.blog-li div {

}

.li-box-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 1 !important;
  pointer-events: none;
}

.li-box-wrapper p {
  font-size: 20px;
  color:white;
  background: linear-gradient(transparent, black);
  padding: 21px;
  margin: 0;
}

.read-more {
  width: 100%;
  height: 0;
  background-color: #f14848;
  text-align: center;
  color: white;
  font-size: 20px;
  transition: height 0.5s;
}

li:hover .read-more {
  height: 120px;
}

.read-more span {
  margin-top: 40px;
  display: inline-block;
}

/* --------------------------------------------------------------------------------  */

.first-video {
  position: absolute;
  width: 100%;
  height: 500px;
  float: left;
}

